.snake-head {
  border: 1px solid rgb(233, 168, 150);
  background-color: rgba(233, 168, 150, 0.7);
  aspect-ratio: 1;
}
.snake {
  border: 1px solid rgb(233, 168, 150);
  background-color: rgba(233, 168, 150, 0.3);
  aspect-ratio: 1;
}
