.snake-head {
  border: 1px solid rgb(185, 255, 200);
  background-color: rgba(92, 243, 125, 0.7);
  aspect-ratio: 1;
}
.snake {
  border: 1px solid rgb(92, 243, 95);
  background-color: rgba(92, 243, 95, 0.3);
  aspect-ratio: 1;
}
